$font-stack: 'Ubuntu', sans-serif;

$background-color: #ffffff;
$header-background-color: #f8f8f8;
$navbar-color: #3b3442;
$font-color: #b7b7b8;

$blue: #589ec2;
$badge-color: $blue;
$sale-price-color: $blue;

$black: #000000;
$product-desc-color: $black;
$dropdown-nav-color: $black;

$white: #ffffff;
$header-font-color: $white;